
html{
    height: -webkit-fill-available;
}

body{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("BMI.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 95%;
    position: relative;
}

.calculator {
   
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    border-radius: white 10px;

}

.calculator h1,h4 {
    color: #ECF2FF ;
    padding:2px;
    margin: 5px 0;
    
}
    
label{
    font-size: 1.25rem;
    font-weight: bold;
    color: #FFFBF5;
}

input[type=text]{
    
    border-radius: 5px;
    width: 200px;
    height: 25px;
    margin: 5px 0;
}

.btn{
   
    display: inline;
    margin-top: 5px;
    border-radius: 5px;
    cursor: pointer;

}

.btn:hover{
    
    background-color: aqua;

}

@media screen and (max-width: 600px) {
    body {
        background-size: 150%;
}

}